<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Products sample app</h2>
    <h3>By gosha</h3>
    <a href="/products" class="btn">View products</a>
  </div>
</header>

<%- include('partials/footer'); -%>
